<div class="container">

<h1>Welcome to the My Class App</h1>

<p>If you are an instructor (a TA or a teacher), you can see who your students are.  If you are a student, you can see who your instructor (TA or teacher) and other classmates are.</p>

<div>Are you a <a href="/students">student</a> or a <a href="/instructors">teacher?</a></div>

</div>