<div class="container">
  <h1 class="col-sm-6">Instructor Registration</h1>
  <div class="pull-right">
    <a href="/" class="col-sm-6">Home</a>
  </div>
</div>

<form class="form-horizontal" action="/instructor-register" method="POST">
  <div class="form-group">
    <label for="instructorRegistrationName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6">
      <input type="text" name="instructorNameRegistration" class="form-control" id="inputName3" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="instructorRegistrationEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <input type="email" name="instructorEmailRegistration" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="instructorRegistrationPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-6">
      <input type="password" name="instructorPasswordRegistration" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="col-sm-offset-2 col-sm-6">
    <div>Are you a TA or a Teacher?</div>
      <div class="checkbox">
        <label><input type="checkbox" name="instructorTA">TA</label> &nbsp; &nbsp;
        <label><input type="checkbox" name="instructorTeacher">Teacher</label>
      </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Register</button>
    </div>
  </div>
  <a class="col-sm-offset-2" data-toggle="modal" data-target="#studentLogin">Already registered?</a>

</form>

<!-- Modal -->
<div class="modal fade" id="studentLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Instructor Login</h4>
      </div>
      <div class="modal-body">
      <form>
          <div class="form-group">
            <label for="instructorLoginEmail" class="col-sm-2 control-label">Email</label>
              <input type="email" name="instructorEmailLogin" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="instructorLoginPassword" class="col-sm-2 control-label">Password</label>
              <input type="password" name="instructorPasswordLogin" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>