<div class="container">
<h1>Information for Instructors</h1>

<p>Here is a list of the other students in your class, and their email addresses:</p>

{{#each studentsInfo}}
<p>{{student_name}}  {{student_email}}</p>
{{/each}}

<p>Here are the instructors in your class, with their email addresses:</p>

<ul>
{{#each instructorsInfo}}
<li>{{instructor_name}}  {{instructor_email}}</li>
{{/each}}
</ul>

</div>