<div class="container">
<h1>Student Information</h1>

<p>Here is a list of the other students in your class, and their email addresses:</p>

<ul>
{{#each studentsInfo}}
<li>{{student_name}}  {{student_email}}</li>
{{/each}}
</ul>

</div>